.createAccContainer {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.mainCreateContainer{
  text-align: center;
}
.createInputContainer {
}

.fieldset{
  border: none;
  width: 50%;
}

.inputTitle{
  margin-left: 0px;
}